<mat-card>
    <mat-card-header>
        <mat-card-title>{{legalId}}</mat-card-title>
        <mat-card-title>Tipo animal: {{genus}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card-subtitle>Nombre: {{name}}</mat-card-subtitle>
        <mat-card-subtitle>{{ age["value"] }} - {{age["text"]}}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions class="card-bottom">
        <p>Ver mas informacion</p>
        <button mat-icon-button>
            <mat-icon>control_point</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
