.card-bottom{
    text-align: center;
}

.avatar{
    background-image: url("../../../assets/vaca-avatar.jpg");
    background-size:cover;
}
.card-content{
    align-content: center;
    text-align: center;
    font-weight: bold;
}
.mat-card-avatar{
    height:75px;
    width: 75px;
}

.animal-card{
    background-color:#def2f1;
}
